<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PEt-R-Us">
    <link rel="stylesheet" type="text/css" href="" />

    <title>IPSOM</title>
</head>

<body>
    <header>
        <nav>
            <ul class="navLinks">
                <li><a href="index.html">Home</a></li>
                <li><a href="grooming.html">Grooming</a></li>
                <li><a href="booking.html">Booking </a></li>
                <li><a href="training.html">Train your bitch</a></li>
            </ul>
        </nav>


        <div>
            <h1 class="name">Pets R Us</h1>
            <h2>
                We work with all of them
            </h2>

        </div>

    </header>

</body>




</html>